[submodule "harfbuzz/harfbuzz"]
	path = deps/harfbuzz/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "freetype/libpng"]
	path = deps/freetype/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "deps/freetype/zlib"]
	path = deps/freetype/zlib
	url = https://github.com/madler/zlib.git
[submodule "freetype2"]
	path = deps/freetype/freetype2
	url = https://github.com/freetype/freetype2.git
