.DS_Store
/docs/_site
/PKGBUILD
/WezTerm*.zip
/WezTerm*.exe
/wezterm*.deb
/wezterm*.tar.xz
/pkg
/target/
/gh_pages/
/docs/SUMMARY.md
/docs/installation.md
/docs/install/*.md
/docs/colorschemes/**/index.md
/docs/config/lua/config/index.md
/docs/config/lua/wezterm/index.md
/docs/config/lua/pane/index.md
/docs/config/lua/window/index.md
/docs/config/lua/keyassignment/index.md
**/*.rs.bk
.*.sw*
/esctest.log
/AppDir
/WezTerm*.AppImage
/WezTerm*.AppImage.zsync
/WezTerm-macos-*
/wezterm*-src.tar.gz
/wezterm-linuxbrew.rb
/wezterm.rb
/perf.data*
