.DS_Store
/docs/_site
/WezTerm*.zip
/WezTerm*.exe
/wezterm*.deb
/wezterm*.tar.xz
/pkg
/target/
/gh_pages/
/docs/installation.md
**/*.rs.bk
.*.sw*
/esctest.log
/AppDir
/WezTerm*.AppImage
/WezTerm*.AppImage.zsync
/wezterm*-src.tar.gz
