[submodule "harfbuzz/harfbuzz"]
	path = deps/harfbuzz/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "freetype/freetype2"]
	path = deps/freetype/freetype2
#	url = https://git.savannah.gnu.org/git/freetype/freetype2.git
	url = https://github.com/aseprite/freetype2.git
[submodule "freetype/libpng"]
	path = deps/freetype/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "deps/freetype/zlib"]
	path = deps/freetype/zlib
	url = https://github.com/madler/zlib.git
