.DS_Store
dhat-heap.json
/docs/_site
/PKGBUILD
/WezTerm*.zip
/WezTerm*.exe
/wezterm*.deb
/wezterm*.tar.xz
/pkg
/target/
/termwiz/codegen/target
/termwiz/codegen/Cargo.lock
/gh_pages/
/docs/SUMMARY.md
/docs/install/*.md
/docs/cli/cli/index.md
/docs/colorschemes/**/index.md
/docs/config/lua/color/index.md
/docs/config/lua/config/index.md
/docs/config/lua/gui-events/index.md
/docs/config/lua/keyassignment/index.md
/docs/config/lua/keyassignment/CopyMode/index.md
/docs/config/lua/mux-events/index.md
/docs/config/lua/mux-window/index.md
/docs/config/lua/MuxTab/index.md
/docs/config/lua/MuxPane/index.md
/docs/config/lua/pane/index.md
/docs/config/lua/wezterm.color/index.md
/docs/config/lua/wezterm.gui/index.md
/docs/config/lua/wezterm.mux/index.md
/docs/config/lua/wezterm.procinfo/index.md
/docs/config/lua/wezterm.time/index.md
/docs/config/lua/wezterm.time/Time/index.md
/docs/config/lua/wezterm/index.md
/docs/config/lua/window-events/index.md
/docs/config/lua/window/index.md
/docs/mermaid.min.js
**/*.rs.bk
.*.sw*
/esctest.log
/AppDir
/WezTerm*.AppImage
/WezTerm*.AppImage.zsync
/WezTerm-macos-*
/wezterm*-src.tar.gz
/wezterm-linuxbrew.rb
/wezterm.rb
/perf.data*
.idea/
/winget-pkgs
/assets/flatpak/generated-sources.json
