[package]
name = "wezterm-ssh"
version = "0.4.0"
authors = ["Wez Furlong <wez@wezfurlong.org>"]
edition = "2018"
repository = "https://github.com/wez/wezterm"
description = "More convenient higher level wrapper around libssh2"
license = "MIT"
documentation = "https://docs.rs/wezterm-ssh"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["libssh-rs", "ssh2"]
vendored-openssl = ["ssh2/vendored-openssl", "libssh-rs/vendored-openssl"]
vendored-openssl-ssh2 = ["ssh2/vendored-openssl"]
vendored-openssl-libssh-rs = ["libssh-rs/vendored-openssl"]

[dependencies]
anyhow = "1.0"
base64 = "0.22"
bitflags = "1.3"
camino = "1.0"
dirs-next = "2.0"
filedescriptor = { version="0.8", path = "../filedescriptor" }
filenamegen = "0.2.6"
gethostname = "0.5"
libc = "0.2"
log = "0.4"
portable-pty = { version="0.8", path = "../pty" }
regex = "1"
smol = "2.0"
ssh2 = {version="0.9.3", features=["openssl-on-win32"], optional = true}
libssh-rs = {version="0.3.2", features=["vendored"], optional = true}
#libssh-rs = {path="../../libssh-rs/libssh-rs", features=["vendored"], optional = true}
thiserror = "1.0"
socket2 = "0.5"
wezterm-uds = { path = "../wezterm-uds" }

# Not used directly, but is used to centralize the openssl vendor feature selection
async_ossl = { path = "../async_ossl" }

[target.'cfg(unix)'.dependencies]
passfd = "0.1.6"

[dev-dependencies]
assert_fs = "1.0.4"
clap = {version="4.0", features=["derive"]}
k9 = "0.12.0"
once_cell = "1.8"
predicates = "3.0"
env_logger = "0.11"
rstest = "0.21"
shell-words = "1.1"
termwiz = { version = "0.22", path = "../termwiz" }
whoami = "1.5"
