[package]
name = "wezterm-ssh"
version = "0.1.1"
authors = ["Wez Furlong <wez@wezfurlong.org>"]
edition = "2018"
repository = "https://github.com/wez/wezterm"
description = "More convenient higher level wrapper around libssh2"
license = "MIT"
documentation = "https://docs.rs/wezterm-ssh"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
base64 = "0.13"
dirs-next = "2.0"
filedescriptor = { version="0.8", path = "../filedescriptor" }
filenamegen = "0.2"
log = "0.4"
portable-pty = { version="0.5", path = "../pty" }
regex = "1"
smol = "1.2"
ssh2 = {version="0.9", features=["openssl-on-win32"]}
#ssh2 = {version="0.9"}

[dev-dependencies]
k9 = "0.11.0"
pretty_env_logger = "0.4"
shell-words = "1.0"
structopt = "0.3"
termwiz = { path = "../termwiz" }
