[Desktop Entry]
Name=WezTerm
Comment=Wez's Terminal Emulator
Keywords=shell;prompt;command;commandline;cmd;
Icon=org.wezfurlong.wezterm
TryExec=wezterm-gui
Exec=wezterm-gui
Type=Application
Categories=System;TerminalEmulator;Utility;
Terminal=false
