<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>wezterm-gui</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.wez.wezterm</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WezTerm</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleIconFile</key>
	<string>terminal.icns</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMainNibFile</key>
	<string></string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>WezTerm</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<string>NO</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>An application launched via WezTerm would like to access AppleScript.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>An application launched via WezTerm would like to access calendar data.</string>
	<key>NSCameraUsageDescription</key>
	<string>An application launched via WezTerm would like to access the camera.</string>
	<key>NSContactsUsageDescription</key>
	<string>An application launched via WezTerm wants to access your contacts.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>An application launched via WezTerm would like to access your location information, even in the background.</string>
	<key>NSLocationUsageDescription</key>
	<string>An application launched via WezTerm would like to access your location information.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>An application launched via WezTerm would like to access your location information while active.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>An application launched via WezTerm would like to access your microphone.</string>
	<key>NSRemindersUsageDescription</key>
	<string>An application launched via WezTerm would like to access your reminders.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>An application launched via WezTerm would like to access your Documents folder.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>An application launched via WezTerm would like to access your Downloads folder.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>An application launched via WezTerm requires elevated permission.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
		<string>An application launched via WeZterm would like to access Bluetooth adapter.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Terminal shell script</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeIconFile</key>
			<string>terminal.icns</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>command</string>
				<string>sh</string>
				<string>zsh</string>
				<string>bash</string>
				<string>fish</string>
				<string>tool</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Shell</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.unix-executable</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
