@font-face {
  font-family: "Symbols Nerd Font Mono";
  src: url(fonts/SymbolsNerdFontMono-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.nerdfont {
  font-family: "Symbols Nerd Font Mono";
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
