name: macos

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - ".cirrus.yml"
      - "docs/*"
      - "ci/build-docs.sh"
      - "ci/generate-docs.py"
      - "ci/subst-release-info.py"
      - ".github/workflows/pages.yml"
      - ".github/workflows/verify-pages.yml"
      - ".github/ISSUE_TEMPLATE/*"
      - "**/*.md"

jobs:
  build:
    runs-on: "macos-11"
    
    steps:
      - name: "checkout repo"
        uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: "Install Rust"
        uses: actions-rs/toolchain@v1
        with:
          profile: "minimal"
          toolchain: "stable"
          override: true
          components: "rustfmt"
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
      - name: "Install Rust (ARM)"
        shell: bash
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.9
          rustup target add aarch64-apple-darwin
      - name: "Install System Deps"
        shell: bash
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.9
          env PATH=$PATH ./get-deps
      - name: "Build (Release mode Intel)"
        shell: bash
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.9
          cargo build --target x86_64-apple-darwin --all --release
      - name: "Build (Release mode ARM)"
        shell: bash
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.9
          cargo build --target aarch64-apple-darwin --all --release
      - name: "Test (Release mode)"
        shell: bash
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.9
          cargo test --target x86_64-apple-darwin --all --release
      - name: "Package"
        shell: bash
        run: |
          export MACOSX_DEPLOYMENT_TARGET=10.9
          bash ci/deploy.sh
      - name: "Upload artifact"
        uses: actions/upload-artifact@v2
        with:
          name: "macos"
          path: "WezTerm-*.zip"
