
name: debian9.12_tag

on:
  push:
    tags:
      - "20*"


jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"
    container: "debian:9.12"
    steps:
    - name: "set APT to non-interactive"
      shell: bash
      run: "echo 'debconf debconf/frontend select Noninteractive' | debconf-set-selections"
    - name: "Update APT"
      shell: bash
      run: "apt update"
    - name: "Cache Git installation"
      uses: actions/cache@v2
      with:
         path: "/usr/local/git"
         key: "debian9.12-git-2.26.2"
    - name: "Install Git from source"
      shell: bash
      run: |
            
            apt-get install -y wget libcurl4-openssl-dev libexpat-dev gettext libssl-dev libz-dev gcc libextutils-autoinstall-perl make
            
            if test ! -x /usr/local/git/bin/git ; then
                cd /tmp
                wget https://github.com/git/git/archive/v2.26.2.tar.gz
                tar xzf v2.26.2.tar.gz
                cd git-2.26.2
                make prefix=/usr/local/git install
            fi
            
            ln -s /usr/local/git/bin/git /usr/local/bin/git
                    

    - name: "Install curl"
      shell: bash
      run: "apt-get install -y curl"
    - name: "checkout repo"
      uses: actions/checkout@v2
      with:
         submodules: "recursive"
    - name: "Fetch tags"
      shell: bash
      run: "git fetch --depth=1 origin +refs/tags/*:refs/tags/*"
    - name: "Fetch tag/branch history"
      shell: bash
      run: "git fetch --prune --unshallow"
    - name: "Install Rust"
      uses: actions-rs/toolchain@v1
      with:
         profile: "minimal"
         toolchain: "stable"
         override: true
         components: "rustfmt"
    - name: "Cache cargo registry"
      uses: actions/cache@v2
      with:
         path: "~/.cargo/registry"
         key: "debian9.12-None-1-${{ hashFiles('Cargo.lock') }}-cargo-registry"
    - name: "Cache cargo index"
      uses: actions/cache@v2
      with:
         path: "~/.cargo/git"
         key: "debian9.12-None-1-${{ hashFiles('Cargo.lock') }}-cargo-index"
    - name: "Cache cargo build"
      uses: actions/cache@v2
      with:
         path: "target"
         key: "debian9.12-None-1-${{ hashFiles('Cargo.lock') }}-cargo-build-target"
    - name: "Install System Deps"
      shell: bash
      run: "./get-deps"
    - name: "Build (Release mode)"
      shell: bash
      run: "cargo build --all --release"
    - name: "Test (Release mode)"
      shell: bash
      run: "cargo test --all --release"
    - name: "Package"
      shell: bash
      run: "bash ci/deploy.sh"
    - name: "Upload to Tagged Release"
      uses: softprops/action-gh-release@v1
      with:
         files: |
            wezterm-*.deb
            wezterm-*.xz
            wezterm-*.tar.gz

      env:
         GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
