name: centos9_tag

on:
  push:
    tags:
      - "20*"

jobs:
  build:
    runs-on: "ubuntu-latest"
    container: "quay.io/centos/centos:stream9"
    env:
      CARGO_INCREMENTAL: "0"
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"

    steps:
      - name: "Install config manager"
        shell: bash
        run: "dnf install -y 'dnf-command(config-manager)'"
      - name: "Enable CRB repo for X bits"
        shell: bash
        run: "dnf config-manager --set-enabled crb"
      - name: "Install git"
        shell: bash
        run: "yum install -y git"
      - name: "Install curl-minimal"
        shell: bash
        run: "yum install -y curl-minimal"
      - name: "Ensure /run/sshd exists"
        shell: bash
        run: "mkdir -p /run/sshd"
      - name: "Install openssh-server"
        shell: bash
        run: "yum install -y openssh-server"
      - name: "Workaround git permissions issue"
        shell: bash
        run: "git config --global --add safe.directory /__w/wezterm/wezterm"
      - name: "checkout repo"
        uses: actions/checkout@v4
        with:
          submodules: "recursive"
      - name: "Install Rust"
        uses: dtolnay/rust-toolchain@stable
      - name: "Compile with sccache"
        uses: mozilla-actions/sccache-action@v0.0.7
      - name: "Cache Rust Dependencies"
        uses: actions/cache@v4
        id: cache-cargo-vendor
        with:
          path: |
            vendor
            .cargo/config
          key: "cargo-deps-${{ hashFiles('**/Cargo.lock') }}"
      - name: "Vendor dependecies"
        if: steps.cache-cargo-vendor.outputs.cache-hit != 'true'
        shell: bash
        run: "cargo vendor --locked --versioned-dirs >> .cargo/config"
      - name: "Install System Deps"
        shell: bash
        run: "env CI=yes PATH=$PATH ./get-deps"
      - name: "Build wezterm (Release mode)"
        shell: bash
        run: "cargo build -p wezterm --release"
      - name: "Build wezterm-gui (Release mode)"
        shell: bash
        run: "cargo build -p wezterm-gui --release"
      - name: "Build wezterm-mux-server (Release mode)"
        shell: bash
        run: "cargo build -p wezterm-mux-server --release"
      - name: "Build strip-ansi-escapes (Release mode)"
        shell: bash
        run: "cargo build -p strip-ansi-escapes --release"
      - name: "Install cargo-nextest from Cargo"
        uses: baptiste0928/cargo-install@v3
        with:
          crate: "cargo-nextest"
          cache-key: "centos9"
      - name: "Test"
        shell: bash
        run: "cargo nextest run --all --no-fail-fast"
      - name: "Package"
        shell: bash
        run: "bash ci/deploy.sh"
      - name: "Move RPM"
        shell: bash
        run: "mv ~/rpmbuild/RPMS/*/*.rpm ."
      - name: "Upload artifact"
        uses: actions/upload-artifact@v4
        with:
          name: "centos9"
          path: "wezterm-*.rpm"

  upload:
    runs-on: ubuntu-latest
    needs: build
    if: github.repository == 'wezterm/wezterm'
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: "Workaround git permissions issue"
        shell: bash
        run: "git config --global --add safe.directory /__w/wezterm/wezterm"
      - name: "checkout repo"
        uses: actions/checkout@v4
      - name: "Download artifact"
        uses: actions/download-artifact@v4
        with:
          name: "centos9"
      - name: "Checksum"
        shell: bash
        run: "for f in wezterm-*.rpm ; do sha256sum $f > $f.sha256 ; done"
      - name: "Create pre-release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: "bash ci/retry.sh bash ci/create-release.sh $(ci/tag-name.sh)"
      - name: "Upload to Tagged Release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: "bash ci/retry.sh gh release upload --clobber $(ci/tag-name.sh) wezterm-*.rpm *.sha256"
