
name: fedora31_continuous

on:
  schedule:
    - cron: "10 * * * *"


jobs:
  build:
    strategy:
      fail-fast: false
    runs-on: "ubuntu-latest"
    container: "fedora:31"
    steps:
    - name: "Install git"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            yum install -y git
            

    - name: "Install curl"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            yum install -y curl
            

    - name: "checkout repo"
      uses: actions/checkout@v2
      with:
         submodules: "recursive"
    - name: "Fetch tags"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            git fetch --depth=1 origin +refs/tags/*:refs/tags/*
            

    - name: "Fetch tag/branch history"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            git fetch --prune --unshallow
            

    - name: "Install Rust"
      uses: actions-rs/toolchain@v1
      with:
         profile: "minimal"
         toolchain: "stable"
         override: true
         components: "rustfmt"
    - name: "Cache cargo"
      uses: actions/cache@v2
      with:
         path: |
            ~/.cargo/registry
            ~/.cargo/git
            target

         key: "fedora31-None-1-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-cargo"
    - name: "Install System Deps"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            ./get-deps
            

    - name: "Build (Release mode)"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            cargo build --all --release
            

    - name: "Test (Release mode)"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            cargo test --all --release
            

    - name: "Package"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            bash ci/deploy.sh
            

    - name: "Move RPM"
      shell: bash
      run: |
            export BUILD_REASON=Schedule
            mv ~/rpmbuild/RPMS/*/*.rpm wezterm-nightly-fedora31.rpm
            

    - name: "Upload to Nightly Release"
      uses: wez/upload-release-assets@releases/v1
      with:
         files: "wezterm-*.rpm"
         release-tag: "nightly"
         repo-token: "${{ secrets.GITHUB_TOKEN }}"
