name: ubuntu18_tag

on:
  push:
    tags:
      - "20*"

jobs:
  build:
    runs-on: "ubuntu-18.04"
    steps:
      - name: "Update APT"
        shell: bash
        run: "sudo -n apt update"
      - name: "Install git"
        shell: bash
        run: "sudo -n apt-get install -y git"
      - name: "checkout repo"
        uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - name: "Fetch tags"
        shell: bash
        run: "git fetch --depth=1 origin +refs/tags/*:refs/tags/*"
      - name: "Fetch tag/branch history"
        shell: bash
        run: "git fetch --prune --unshallow"
      - name: "Install Rust"
        uses: actions-rs/toolchain@v1
        with:
          profile: "minimal"
          toolchain: "stable"
          override: true
          components: "rustfmt"
        env:
          ACTIONS_ALLOW_UNSECURE_COMMANDS: "true"
      - name: "Cache cargo"
        uses: actions/cache@v2.1.6
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: "ubuntu18-None-2-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}-cargo"
      - name: "Install System Deps"
        shell: bash
        run: "sudo -n env PATH=$PATH ./get-deps"
      - name: "Build (Release mode)"
        shell: bash
        run: "cargo build --all --release"
      - name: "Test (Release mode)"
        shell: bash
        run: "cargo test --all --release"
      - name: "Package"
        shell: bash
        run: "bash ci/deploy.sh"
      - name: "Source Tarball"
        shell: bash
        run: "bash ci/source-archive.sh"
      - name: "Build AppImage"
        shell: bash
        run: "bash ci/appimage.sh"
      - name: "Upload to Tagged Release"
        uses: softprops/action-gh-release@v1
        if: github.event.repository.fork == false
        with:
          files: |
            wezterm-*.deb
            wezterm-*.xz
            wezterm-*.tar.gz
            *.AppImage
            *.zsync
          prerelease: true
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      - name: "Checkout linuxbrew tap"
        uses: actions/checkout@v2
        with:
          repository: "wez/homebrew-wezterm-linuxbrew"
          path: "linuxbrew-wezterm"
          token: "${{ secrets.GH_PAT }}"
      - name: "Update linuxbrew tap formula"
        shell: bash
        run: "cp wezterm-linuxbrew.rb linuxbrew-wezterm/Formula/wezterm.rb"
      - name: "Commit linuxbrew tap changes"
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Automated update to match latest tag"
          repository: "linuxbrew-wezterm"
