name: posix

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  schedule:
    - cron: "10 3 * * *"

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-16.04, macos-10.14]
        rust_toolchain: [stable, nightly]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v1
    - name: Update submodules
      run: git submodule update --init
    - name: Install System Deps
      run: sudo ./get-deps
    - name: Install Rust
      run: curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain ${{ matrix.rust_toolchain }}
    - name: Show versions
      run: |
        source $HOME/.cargo/env
        rustc -V
        cargo -V
    - name: Check formatting
      if: matrix.rust_toolchain == 'stable'
      run: |
        source $HOME/.cargo/env
        rustup component add rustfmt
        cargo fmt --all -- --check
    - name: Build
      run: |
        source $HOME/.cargo/env
        cargo build --all
    - name: Test
      run: |
        source $HOME/.cargo/env
        cargo test --all
    - name: Package
      if: matrix.rust_toolchain == 'stable'
      run: |
        source $HOME/.cargo/env
        cargo build --release --all
        bash ci/deploy.sh
    - name: Move macOS Package
      if: matrix.rust_toolchain == 'stable' && contains(matrix.os, 'macos')
      run: |
        mkdir macos_
        mv *.zip macos_
    - name: Move Linux Package
      if: matrix.rust_toolchain == 'stable' && contains(matrix.os, 'ubuntu') 
      run: |
        mkdir linux_
        mv *.deb linux_
        mv *.xz linux_
    - uses: actions/upload-artifact@master
      if: matrix.rust_toolchain == 'stable' && contains(matrix.os, 'macos') 
      with:
        name: macos
        path: macos_
    - uses: actions/upload-artifact@master
      if: matrix.rust_toolchain == 'stable' && contains(matrix.os, 'ubuntu') 
      with:
        name: linux
        path: linux_
